:root {
    --bg: skyblue;
}

html {
    scroll-behavior: smooth;
}

#index-body, #project-body {
    background-color: var(--bg);
}

#navbar-wrapper {
    background-color: var(--bg);
}

.navbar-toggler {
    height: 5vh;
    width: 5vh;
}

span,i {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.page {
    height: 100vh;
}

#home {
    background-color: var(--bg);
}

#home-logo {
    height: 50vh;
    width: 25vw;
    border: 5px solid white;
    border-radius: 50%;
}

#name-header {
    font-size: 8vw;
}

#mini-descrition-header {
    font-size: 3vw;
}

.socials-wrapper {
    font-size: 3vw;
}

#about {
    height: 6vh;
    background-color: var(--bg);
}

#about-page {
    background-color: var(--bg);
}

#projects {
    height: 6vh;
    background-color: var(--bg);
}

#projects-page {
    background-color: var(--bg);
}

#resume {
    height: 6vh;
    background-color: var(--bg);
}

#resume-page {
    background-color: var(--bg);
}

#contact {
    height: 6vh;
    background-color: var(--bg);
}

#contact-page {
    background-color: var(--bg);
    height: 90vh;
}

#project-page {
    height: 80vh;
}

.project-text {
    text-align: justify;
    text-justify: inter-word;
}

.project-icon {
    color: white;
}

.project-button-wrapper {
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.project-image {
    width: 30vw;
    border: 5px solid white;
    border-radius: 10px;
}