:root {
    --bg: skyblue;
}

html {
    scroll-behavior: smooth;
}

#index-body {
    background-color: var(--bg);
}

#navbar-wrapper {
    background-color: var(--bg);
}

.navbar-toggler {
    height: 5vh;
    width: 5vh;
}

.page {
    height: 100vh;
}

#index-page-1 {
    background-color: var(--bg);
}

#home-logo {
    height: 40vh;
    width: 40vw;
}

#name-header {
    font-size: 8vw;
}

#mini-descrition-header {
    font-size: 3vw;
}

.socials-wrapper {
    font-size: 3vw;
}

#section-2 {
    height: 6vh;
    background-color: var(--bg);
}

#index-page-2 {
    background-color: var(--bg);
}

#section-3 {
    height: 6vh;
    background-color: var(--bg);
}

#index-page-3 {
    background-color: var(--bg);
}

#section-4 {
    height: 6vh;
    background-color: var(--bg);
}

#index-page-4 {
    background-color: var(--bg);
}

#section-5 {
    height: 6vh;
    background-color: var(--bg);
}

#index-page-5 {
    background-color: var(--bg);
}

span,i {
    color: black;
    font-size: 20px;
    font-weight: bold;
}