:root {
    --mbc: #710C04;
    --sbc: #0A090C;
    --main-font-size: 25px;
    --fc: #F0EDEE;
    --mshadow: 5px 5px 6px var(--mbc);
}

.navbar-toggler {
    height: 5vh;
    width: 5vh;
}

nav span,i {
    color: var(--fc);
    font-size: var(--main-font-size);
    font-weight: bold;
}

#navbar-wrapper {
    background-color: var(--sbc);
    padding: 1rem;
    height: 11vh;
}

.navbar-collapse {
    background-color: var(--sbc);
    padding: 0 1em;
}

.active {
    background-color: var(--mbc);
    padding: 0.2em;
    border-radius: 10px
}

.poop {
    background-color: var(--fc);
}

body {
    margin: 0;
    background-color: var(--sbc);
}

#no-page {
    height: 80vh;
    background-color: var(--sbc);
    color: var(--fc);
    padding-top: 40vh;
}

#home {
    height: 80vh;
    background-color: var(--sbc);
    color: var(--fc);
    padding-top: 40vh;
}

.home-text {
    text-shadow: var(--mshadow);
}

#about {
    height: 100vh;
    color: var(--sbc);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    background: linear-gradient(to top, var(--mbc) 10%, var(--sbc));
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5em;
}

#about h1 {
    text-shadow: 2px 2px 3px var(--mbc);
}

#about h4 {
    text-shadow: 1px 1px 2px var(--mbc);
}

.lol {
    width: 70vw;
}

.skills-icons {
    color: var(--sbc);
}

.skills-icons:hover {
    font-size: 1.3em;
}

#contact {
    height: 80vh;
    background-color: var(--sbc);
    color: var(--fc);
}

#contact h1 {
    text-shadow: var(--mshadow);
}

#contact-form-body {
    /* background-color: var(--mbc); */
    padding: 6vh 4vh 2vh 4vh;
    font-size: 2em;
    border-radius: 10px;
}

#thanks {
    height: 80vh;
    background-color: var(--sbc);
    color: var(--fc);
    padding-top: 40vh;
}

#thanks-return {
    text-decoration: none;
}

#links-page {
    height: 90vh;
    color: var(--fc);
}

.link-container {
    padding-top: 5vw;
}

.link-wrapper a {
    color: var(--fc);
    text-decoration: none;
}

.link-wrapper p {
    background-color: var(--mbc);
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
    text-shadow: 5px 5px 6px var(--sbc);
    font-size: 25px;
    width: 50%;
    transform: translateX(25vw);
}

.link-wrapper p:hover {
    background-color: #282828;
    animation-name: linkMove;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes linkMove {
    0% {
        transform: translateX(25vw) scale(1);
    }

    100% {
        transform: translateX(25vw) scale(1.02);
    }
}

.form-label {
    text-shadow: var(--mshadow);
}

footer {
    background-color: var(--sbc);
    color: var(--fc);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h6 {
    text-shadow: var(--mshadow);
}

@media only screen and (max-width: 484px) {
    footer {
      padding: 5vh;
    }
}


@media only screen and (max-width: 389px) {
    #links-page {
      height: 100vh;
    }
}
@media only screen and (max-width: 335px) {
    .link-wrapper p {
      font-size: 20px;
    }
    #links-page {
        height: 80vh;
    }
}

@media only screen and (max-width: 279px) {
    .link-wrapper p {
      font-size: 15px;
    }
    #links-page {
        height: 75vh;
    }
}

@media only screen and (max-width: 2000px) {
    #about {
      height: 140vh;
    }
}

@media only screen and (max-width: 1100px) {
    #about {
      height: 180vh;
    }
}

@media only screen and (max-width: 826px) {
    #about {
      height: 220vh;
    }
}

@media only screen and (max-width: 586px) {
    #about {
      height: 260vh;
    }
}

@media only screen and (max-width: 434px) {
    #about {
      height: 300vh;
    }
}

@media only screen and (max-width: 356px) {
    #about {
      height: 360vh;
    }
}

@media only screen and (max-width: 304px) {
    #about {
      height: 400vh;
    }
}

@media only screen and (max-width: 280px) {
    #about {
      height: 440vh;
    }
}