:root {
    --main-bg-color: #080808;
    --secondary-bg-color: #9B111E;
    --socials-color: white;
    --main-font-size: 25px;
    --page-small-height: 80vh;
    --page-standard-height: 100vh;
    --page-top-padding: 1rem;
    --section-spacer-height: 10vh;
    --project-img-size: 300px;
}

.navbar-toggler {
    height: 5vh;
    width: 5vh;
}

span,i {
    color: black;
    font-size: var(--main-font-size);
    font-weight: bold;
}

.skills-icons {
    color: var(--socials-color);
}

#navbar-wrapper {
    background-color: var(--secondary-bg-color);
    padding: 1rem;
    height: 11vh;
}

.navbar-collapse {
    background-color: var(--secondary-bg-color);
    padding: 0 1em;
}

.spacer-section {
    height: var(--section-spacer-height);
}

.socials-wrapper {
    color: var(--socials-color);
}

#about {
    height: var(--page-small-height);
    color: white;
    background-color: var(--main-bg-color);
    font-size: var(--main-font-size);
    align-items: center;
    display: flex;
}

#about img {
    border: 5px solid white;
    border-radius: 50%;
}

#projects {
    padding: var(--page-top-padding);
    height: var(--page-standard-height);
    color: var(--secondary-bg-color);
    background-color: white;
    font-size: var(--main-font-size);
}

.project-item {
    margin-bottom: 10rem;
}

.project-item img {
    width: var(--project-img-size);
    border-radius: 10px;
}

#contact {
    padding: var(--page-top-padding);
    height: 90vh;
    color: var(--secondary-bg-color);
    background-color: var(--main-bg-color);
    font-size: var(--main-font-size);
}

#contact p {
    text-align: justify;
    text-justify: inter-word;
}

#page-footer {
    padding: var(--page-top-padding);
    height: 5vh;
    color: black;
    background-color: var(--secondary-bg-color);
}

/* Keyframes */
@media screen and (max-width: 767px) {
    #projects {
        height: 300vh;
    }
}

@media screen and (max-width: 382px) {
    #contact {
        height: 110vh;
    }
}

@media screen and (max-width: 247px) {
    #contact {
        height: 120vh;
    }
}

@media screen and (max-width: 229px) {
    #contact {
        height: 130vh;
    }
}

@media screen and (max-width: 396px) {
    #page-footer {
        height: 10vh;
    }
}

@media screen and (max-width: 248px) {
    #page-footer {
        height: 13vh;
    }
}